/* MAIN SETTINGS FOR CSS*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* END OF MAIN SETTINGS FOR CSS*/

/* BODY */

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
	  background-image: url('../images/arxikh_selida/burger.jpg');
	  background-position: center;
  	background-size:  100% 100%;
  	background-repeat: no-repeat;
    height:100%;
    
}
/* END OF BODY*/


/* NAVBAR */

.topnav {
  overflow: hidden;
  background-color: #f1f1f1;

}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  align-items: center;
  justify-content:space-between;
  padding: 14px 57px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  grid-auto-flow: column;
  
}

.topnav a:hover {
  border-bottom: 3px solid rgb(38, 48, 197);
}

.active {
  border-top: 3px solid red;
}
/* END OF NAVBAR*/


/* CART ICON*/

.cart-icon
{
  color: #4bcc52;
  cursor: pointer;
  position: relative;
  top: 15;

}

.cart-items {
  position: absolute;
  top: -8px;
  right: -30px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}

/* END OF CART ICON */


/* TABLE*/

.SHOPPING{
  background-color: black;
  
}

.SHOPPING, a{
  color: white;
  
}

.background-table{
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
    /*text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;*/

}

.mytable,tr,th{
  color: rgb(184, 44, 44);
  border: 1px solid black;
  text-align: center;
  align-items: center;
  justify-content: center;
  letter-spacing: var(--mainSpacing);

 /* margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  margin-bottom: auto;
  margin: 0 auto;
  margin: 0px auto;
  margin-top: 13%;
  align-self: center;*/

}

.first{
  height: 100px
}

.second{
  
  height: 50px
}

.mytable{
background: white;
opacity: 0.8;
padding: 15px;
border: 0;
}

/* END OF TABLE*/

